bind {{ ansible_default_ipv4.address }}
protected-mode no
port {{ redis_port_m }}
cluster-enabled yes
cluster-config-file nodes_{{ redis_port_m }}.conf
cluster-node-timeout 5000
appendonly yes
appendfilename "appendonly-{{ redis_port_m }}.aof" 
dbfilename dump-{{ redis_port_m }}.rdb  
pidfile {{ redis_workdir }}/redis_{{ redis_port_m }}.pid
logfile {{ redis_workdir }}/log/redis_{{ redis_port_m }}.log
dir /opt/redis
daemonize yes